<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <title>皓皓的课程表</title>
</head>
<body>
    <p>实体303与him大战的课程表</p>
    <div class="kcb">
        <div class="main">
            <span>时间</span>
            <span>07:50 - 08:20</span>
            <span>08:40 - 09:15</span>
            <span>09:27 - 10:02</span>
            <span>10:37 - 11:12</span>
            <span>11:24 - 11:59</span>
            <span>-------------</span>
            <span>13:02 - 13:37</span>
            <span>13:59 - 14:34</span>
            <span>14:46 - 15:21</span>
        </div>
        <div class="main">
            <span>周一</span>
            <span>心理/卫生</span>
            <span>语文</span>
            <span>英语</span>
            <span>班队会</span>
            <span>数学</span>
            <span>-------------</span>
            <span>美术</span>
            <span>体育</span>
            <span>自然</span>
        </div>
        <div class="main">
            <span>周二</span>
            <span>行规教育</span>
            <span>语文</span>
            <span>音乐</span>
            <span>英语</span>
            <span>数学</span>
            <span>-------------</span>
            <span>A体活</span>
            <span>体育</span>
            <span>道法</span>
        </div>
        <div class="main">
            <span>周三</span>
            <span>小红叶广播</span>
            <span>语文</span>
            <span>英语</span>
            <span>数学</span>
            <span>体育</span>
            <span>-------------</span>
            <span>道法习读</span>
            <span>信息</span>
            <span>音乐</span>
        </div>
        <div class="main">
            <span>周四</span>
            <span>时事形势</span>
            <span>语文</span>
            <span>语文</span>
            <span>自然</span>
            <span>国理/心理</span>
            <span>-------------</span>
            <span>英语</span>
            <span>数学</span>
            <span>体育</span>
        </div>
        <div class="main">
            <span>周五</span>
            <span>阅读</span>
            <span>体育武术</span>
            <span>写字</span>
            <span>探究</span>
            <span>信息</span>
            <span>-------------</span>
            <span>B体活</span>
            <span>美术</span>
        </div>
    </div>

</body>
</html>